
@{ 
    Layout = "RecruiterLayout";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Topbar Search -->
    <div class="card shadow mb-3" style="position:sticky;text-align: end;z-index: 8;top: 4.4rem;">
        <div class="card-body d-flex align-items-end flex-end justify-content-end flex-wrap gap-4">
            <button type="submit" form="createPost" class="btn btn-success btn-icon-split" style="margin-left: 1rem">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Create</span>
            </button>
        </div>
    </div>
    <!-- DataTales Example -->
    <form id="createPost" asp-action="CreatePost" asp-controller="Post" method="post" >
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post information</h6>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center flex-md-nowrap flex-sm-wrap  gap-4">
                    <div class="input-block">
                        <label>Position</label>
                        <input type="text" name="Position" placeholder="Enter Position" required>
                    </div>
                    <div class="input-block">
                        <label>Limited</label>
                        <input type="text" name="limit_candidates" placeholder="Enter number of candidate limit " required>
                      
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-md-nowrap flex-sm-wrap  gap-4">
                    <div class="input-block">
                        <label>Experience</label>
                        <input type="text" name="experience" placeholder="Enter experience required" required>
                    </div>
                    <div class="input-block">
                        <label>Expired date</label>
                        <input type="date" name="expired_date" required>
                        <p style="color:red"> the expired the must be higher than the current date</p>
                    </div>
                    <div class="input-block">
                        <label>Salary</label>
                        <input type="number" placeholder="Enter salary " name="salary" required>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="input-block">
                        <label>Skill required</label>
                        <textarea name="skill_required" placeholder="Enter skill required " id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="input-block">
                        <label>Job Description</label>
                        <textarea name="job_description" placeholder="Enter description about job " id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="input-block">
                        <label>Other condition</label>
                        <textarea name="other_condition" placeholder="Enter other condition" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
    </form>
    
        </div>
    </div>

</div>
<!-- /.container-fluid -->
