<!-- Logout Modal-->
<div class="modal fade" id="change_pass_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column">
                <div class="input-block" >
                    <label>Current password</label>
                    <input type="password" name="current_password" id="current_password" required />
                </div>
                <div class="input-block" >
                    <label>New Password</label>
                    <input type="password" name="new_password" id="new_password" required />
                </div>
                <div class="input-block"  >
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" required />
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success" id="updatepassword">Update</a>
            </div>
        </div>
    </div>
</div>