@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/login/bootstrap.min.css">
<link rel="stylesheet" href="~/css/login/login.css">
<body style="background: var(--light-blue); margin="auto">
    <div class="">
        <div class="form-wrapper is-active">

            <form class="form" asp-controller="Authentication" asp-action="ForgetPassword" method="post" style="    background: white;
    width: 24rem;
    margin: auto;
    margin-top: 5rem;
}">
                <p style="text-align:center ">Forgot Password</p>
                <fieldset>
                    <div class="input-block">
                        <label>Email</label>
                        <input type="email" name="Email" required>
                    </div>
                    <p style="color:red">Email doesn't exist</p>
                </fieldset>
                <button type="submit" class="btn btn-primary">receive mail</button>

            </form>

        </div>
    </div>
</body>
