@model finalyearproject.Models.Report

@{
    ViewData["Title"] = "CreateReport";
}

<h1>CreateReport</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="reporter_id" class="control-label"></label>
                <select asp-for="reporter_id" class ="form-control" asp-items="ViewBag.reporter_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="reciver_id" class="control-label"></label>
                <select asp-for="reciver_id" class ="form-control" asp-items="ViewBag.reciver_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="post_id" class="control-label"></label>
                <select asp-for="post_id" class ="form-control" asp-items="ViewBag.post_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="content_report" class="control-label"></label>
                <input asp-for="content_report" class="form-control" />
                <span asp-validation-for="content_report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_submit" class="control-label"></label>
                <input asp-for="date_submit" class="form-control" />
                <span asp-validation-for="date_submit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
