@model IEnumerable<finalyearproject.Models.Post>
@{
    Layout = "UserLayout";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Topbar Search -->
    <div class="card shadow mb-3" style="position: sticky;
    text-align: end;
    z-index: 8;
    top: 4.4rem;">
        <div class="card-body d-flex align-items-end flex-end justify-content-end flex-wrap gap-4">
            <div style="margin-right: 1rem">
                <select class="form-control" id="condition" style="min-width: 10rem">
                    <option value="Address">Address</option>
                    <option value="Position">Position</option>
                    <option value="Company Name">Company Name</option>
                </select>
            </div>
            <form class="navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" id="search_value" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="Search" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  <div id="post-container">

        @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Post/Components/PostHome.cshtml",item)
    }

    </div>
    <!-- DataTales Example -->
    

</div>
<!-- /.container-fluid -->
