<!-- Logout Modal-->
<div class="modal fade" id="Report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
               <label>
                   Report Reason
               </label> <textarea id="Reason" aria-label="Report Reason"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="CreateReport" type="button">
                    <i class="bi bi-exclamation-circle" style="margin-right: 10px"></i>
                    Create
                </button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
