<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Post detail</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <img src="/public/img/undraw_profile.svg" style="width: 5rem; height: 5rem" alt="">
                </div>
                <div class="col-md-8 col-sm-12">
                    <p>Position</p>
                    <p>job description</p>
                    <p>address</p>
                    <p>limited</p>
                    <p>salary</p>
                </div>
                <div class="col-md-2 col-sm-12" style="text-align: end">
                    <p>Date: 21/08/2002</p>
                    <p>Expire date: 21/08/2002</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <button class="btn btn-success" style="margin-right: 2rem">
                        <i class="fas fa-sign-in-alt" style="margin-right: 10px"></i>
                        Apply now
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 10px"></i>
                        Report
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Job Description</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>something...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Skill required</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>something...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Other condition</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>something...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Comment & Review</h6>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-sm-between gap-4 align-items-center mb-5">
                <img src="/public/img/undraw_profile.svg" style="width: 3rem; height: 3rem" alt="">
                <div class="w-100">
                    <?php include dirname(__DIR__) . '../../../components/rating.php' ?>
                    <div class="input-block" style="margin-bottom: 0">

                        <input type="text">
                    </div>
                </div>
                <button class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <p>khangok1610@gmail.com</p>
                    <img src="/public/img/undraw_profile.svg" style="width: 5rem; height: 5rem" alt="">
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-sm-between">
                            <?php include dirname(__DIR__) . '../../../components/rating.php' ?>
                            <p>21:08 16/10/2002</p>
                        </div>
                        <p>content....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
