<!-- Logout Modal-->
<div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">Ban this selected account ? Please enter reason
                <textarea id="reason" required></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="BanAccount" type="button">
                    <i class="fas fa-trash" style="margin-right: 10px"></i>
                    Ban
                </button>
                <button class="btn btn-secondary"  type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
